---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Portafolio David">
	<div class="txt2">
		<div class="columna">
			<img class="foto2" src="src/img/Foto.png">
			<div class="textos">
			    <p class="soy-david">SOY DAVID</p>
			    <p class="developer2">BACKEND AND FRONTEND DEVELOPER</p>
				<p class="parrafo2">Un practicante programador aplicado que su sueño de ser programador inicio desde 
				   pequeño, desde ese entonces se intereso por el mundo de la programación,
				   fascinado y entusiasmado de poder trabajar como un programador profesional. <br> <br>
				   Actualmente estoy cursando el 5 semestre (último ciclo) de la carrera de 
				   Desarrollo de Software en Senati. <br><br>
				   Mi objetivo para este año es un trabajo donde pueda realizar prácticas más
				   profesionales, ayudar a realizar trabajos excelentes, aprender y tener más
				   experiencia. <br> Con mucha afirmación siento que estoy preparado para 
				   nuevos desafíos y poder ser mejor cada día.
				</p>
		    </div>
		</div>
		<div class="columna">
			<div class="dyp">
			    <p class="datos">DATOS PERSONALES</p>
				<p class="datosper"><i id="icono" class="bi bi-person"></i>
					David Jostyn Yupanqui Llamacuri</p>
				<p class="datosper"><i id="icono" class="bi bi-flag"></i>
					Nacionalidad Peruana</p>
				<p class="datosper"><i id="icono" class="bi bi-calendar-date"></i>
					22 de Junio del 2005</p>
				<p class="datosper"><i id="icono" class="bi bi-house-door"></i>
					Lurigancho Chosica - San Antonio</p>
				<p class="datosper"><i id="icono" class="bi bi-envelope"></i>
					david22YLDe@gmail.com</p>
				<p class="datosper"><i id="icono" class="bi bi-telephone"></i>
					+51 903205092</p>
				<p class="contactame">CONTACTAME</p>
				<p><a href="https://wa.me/51903205092"><i id="wsp" class="bi bi-whatsapp"></i></a></p>
			</div>
		</div>
	</div>
</Layout>
