---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Portafolio David">
	<div class="txt-1">
		<p class="hola">¡HOLA!</p>
		<p class="mucho-gusto">MUCHO GUSTO</p>
		<p class="nombre">SOY DAVID</p>
		<p class="developer">BACKEND AND FRONTEND DEVELOPER</p>
		<p class="parrafo1">Soy estudiante de la carrera de Desarrollo de Software,<br>
		   con experiencia de 1 año en el ámbito profesional como programador,<br>
		   dispuesto a seguir aprendiendo y contar con más experiencia en <br>
		   este bello mundo. Mentalizado a seguir aumentando mis aprendizajes y <br>
		   habilidades para nuevos desafíos.</p>
		<img class="foto1" src="src/img/Foto.png">
		<div class="lenguajes1">
			<img class="leng" src="src/img/phyton.png">
			<img class="leng" src="src/img/php.png">
			<img class="leng" src="src/img/nodejs.png">
		    <img class="leng" src="src/img/css-3.png">
		    <img class="leng" src="src/img/html-5.png">
	    </div>
	</div>
</Layout>


