---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Portafolio David">
	<div class="txt3">
		<p class="proyectos">MIS PROYECTOS</p>
		<p class="t1">REGISTRO DE CLIENTES (Prueba Rapimoney)</p>
		<div class="proyecTOS">
		    <p><a href="https://github.com/David22YL/APPI---CLIENTES"><img class="pry-api" src="src/img/APPI.png"></a></p>
			<p class="t2">Un proyecto de registros de clientes, realicé este proyecto  <br>
						  para una prueba y funciona a la perfección. <br>
						  FUNCIONES: <br>
						  Filtro de búsqueda (DNI - NOMBRE) <br>
						  Opción para registrar un nuevo cliente (Guardado a la Base de Datos) <br> </p>
		</div>
	</div>
</Layout>