---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Portafolio David">
	<div class="txt4">
		<p class="mis-skills">MIS HABILIDADES</p>
		<p class="parrafo-skills">
			Soy un apasionado programador con experiencia en varios lenguajes de <br>
		    programación y herramientas de desarrollo. Me considero un programador <br>
		    backend y frontend, por mis conocimientos me enorgullese decir que <br>
		    soy un programador completo, soy activamente productivo, sociable, <br>
		    tolerante, etc. 
		</p>
		<p class="parrafo-skills">
			A continuación le mostrare todos las herramientos que domino y prefiero usar: <br><br><br>
		</p>
	</div>
	<div class="skill-lenguajes">
		<p class="txt-leng">Lenguajes: &nbsp;&nbsp;&nbsp;
		<img class="lenguajess" src="src/img/php.png">
		<img class="lenguajess" src="src/img/phyton.png">
		<img class="lenguajess" src="src/img/js.png">
		<img class="lenguajess" src="src/img/c-.png"><br><br>
	    </p>
	</div>
	<div class="skill-lenguajes">
		<p class="txt-leng">Marcados y Estilos: &nbsp;&nbsp;&nbsp;  
		<img class="lenguajess" src="src/img/html-5.png">
		<img class="lenguajess" src="src/img/css-3.png">
		<img class="lenguajess" src="src/img/tailwind.png"><br><br>
	    </p>
	</div>
	<div class="skill-lenguajes">
		<p class="txt-leng">Base de Datos: &nbsp;&nbsp;&nbsp;
		<img class="lenguajess" src="src/img/sqlserver.png">
		<img class="lenguajess" src="src/img/sqlite.png">
		<img class="lenguajess" src="src/img/mysql.png"><br><br>
	    </p>
	</div>
	<div class="skill-lenguajes">
		<p class="txt-leng">Frameworks y Librerías: &nbsp;&nbsp;&nbsp;  
		<img class="lenguajess" src="src/img/nodejs.png">
		<img class="lenguajess" src="src/img/angular.png">
		<img class="lenguajess" src="src/img/astro.jpg"><br><br>
	    </p>
	</div>
</Layout>